# Load Packages

In [7]:
import requests
import json
import pandas as pd

#disable certificate wanning
import urllib3
urllib3.disable_warnings()

# Get all characters from SWAPI

In [8]:
#headers = {
 #   'user-agent': "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.138 Safari/537.36",
#}




url= "https://swapi.dev/api/people/?page=1"
swapi = []
   
while url:
    #print("-----")
    #print("Requesting", url)
    
    # make the request
    response = requests.request("GET", url, verify=False)
    #response = requests.request("GET", url, headers=headers, verify=False)
    #response = requests.get(url)
    data = response.json()
 
    # Grab the new swapi
    swapi.extend(data['results'])
    
    # Update the URL
    url = data['next']

In [9]:
type(data)

dict

In [10]:
data['results']

[{'name': 'Sly Moore',
  'height': '178',
  'mass': '48',
  'hair_color': 'none',
  'skin_color': 'pale',
  'eye_color': 'white',
  'birth_year': 'unknown',
  'gender': 'female',
  'homeworld': 'https://swapi.dev/api/planets/60/',
  'films': ['https://swapi.dev/api/films/5/',
   'https://swapi.dev/api/films/6/'],
  'species': [],
  'vehicles': [],
  'starships': [],
  'created': '2014-12-20T20:18:37.619000Z',
  'edited': '2014-12-20T21:17:50.496000Z',
  'url': 'https://swapi.dev/api/people/82/'},
 {'name': 'Tion Medon',
  'height': '206',
  'mass': '80',
  'hair_color': 'none',
  'skin_color': 'grey',
  'eye_color': 'black',
  'birth_year': 'unknown',
  'gender': 'male',
  'homeworld': 'https://swapi.dev/api/planets/12/',
  'films': ['https://swapi.dev/api/films/6/'],
  'species': ['https://swapi.dev/api/species/37/'],
  'vehicles': [],
  'starships': [],
  'created': '2014-12-20T20:35:04.260000Z',
  'edited': '2014-12-20T21:17:50.498000Z',
  'url': 'https://swapi.dev/api/people/83/'}]

In [13]:
len(pd.DataFrame(swapi))

82

There are 82 characters in the Star War Universe.

In [14]:
pd.DataFrame(swapi)

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,films,species,vehicles,starships,created,edited,url
0,Luke Skywalker,172,77,blond,fair,blue,19BBY,male,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi...",[],"[https://swapi.dev/api/vehicles/14/, https://s...","[https://swapi.dev/api/starships/12/, https://...",2014-12-09T13:50:51.644000Z,2014-12-20T21:17:56.891000Z,https://swapi.dev/api/people/1/
1,C-3PO,167,75,n/a,gold,yellow,112BBY,n/a,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi...",[https://swapi.dev/api/species/2/],[],[],2014-12-10T15:10:51.357000Z,2014-12-20T21:17:50.309000Z,https://swapi.dev/api/people/2/
2,R2-D2,96,32,n/a,"white, blue",red,33BBY,n/a,https://swapi.dev/api/planets/8/,"[https://swapi.dev/api/films/1/, https://swapi...",[https://swapi.dev/api/species/2/],[],[],2014-12-10T15:11:50.376000Z,2014-12-20T21:17:50.311000Z,https://swapi.dev/api/people/3/
3,Darth Vader,202,136,none,white,yellow,41.9BBY,male,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi...",[],[],[https://swapi.dev/api/starships/13/],2014-12-10T15:18:20.704000Z,2014-12-20T21:17:50.313000Z,https://swapi.dev/api/people/4/
4,Leia Organa,150,49,brown,light,brown,19BBY,female,https://swapi.dev/api/planets/2/,"[https://swapi.dev/api/films/1/, https://swapi...",[],[https://swapi.dev/api/vehicles/30/],[],2014-12-10T15:20:09.791000Z,2014-12-20T21:17:50.315000Z,https://swapi.dev/api/people/5/
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,Grievous,216,159,none,"brown, white","green, yellow",unknown,male,https://swapi.dev/api/planets/59/,[https://swapi.dev/api/films/6/],[https://swapi.dev/api/species/36/],[https://swapi.dev/api/vehicles/60/],[https://swapi.dev/api/starships/74/],2014-12-20T19:43:53.348000Z,2014-12-20T21:17:50.488000Z,https://swapi.dev/api/people/79/
78,Tarfful,234,136,brown,brown,blue,unknown,male,https://swapi.dev/api/planets/14/,[https://swapi.dev/api/films/6/],[https://swapi.dev/api/species/3/],[],[],2014-12-20T19:46:34.209000Z,2014-12-20T21:17:50.491000Z,https://swapi.dev/api/people/80/
79,Raymus Antilles,188,79,brown,light,brown,unknown,male,https://swapi.dev/api/planets/2/,"[https://swapi.dev/api/films/1/, https://swapi...",[],[],[],2014-12-20T19:49:35.583000Z,2014-12-20T21:17:50.493000Z,https://swapi.dev/api/people/81/
80,Sly Moore,178,48,none,pale,white,unknown,female,https://swapi.dev/api/planets/60/,"[https://swapi.dev/api/films/5/, https://swapi...",[],[],[],2014-12-20T20:18:37.619000Z,2014-12-20T21:17:50.496000Z,https://swapi.dev/api/people/82/
81,Tion Medon,206,80,none,grey,black,unknown,male,https://swapi.dev/api/planets/12/,[https://swapi.dev/api/films/6/],[https://swapi.dev/api/species/37/],[],[],2014-12-20T20:35:04.260000Z,2014-12-20T21:17:50.498000Z,https://swapi.dev/api/people/83/

In the codebook, the birth year of each character uses the in-universe standard of BBY or ABY - Before the Battle of Yavin or After the Battle of Yavin. The Battle of Yavin is a battle that occurs at the end of Star Wars episode IV: A New Hope. In this case, characters who were born in BBY are older than those born in ABY.

There are several characters that we don't know their birth year, so we can't determine whether they are younger or older than the characters with a birth year.

# Connect to database

In [15]:
from sqlalchemy import create_engine

In [16]:
engine = create_engine('postgresql://postgres:proff@localhost:5432/postgres')

In [17]:
engine.connect()

# Full Load

In [18]:
df = pd.DataFrame(swapi)

In [19]:
#create table and perform full load
#df.head(n=0).to_sql(name='swapi',con=engine, if_exists='replace')
%time df.to_sql(name='swapi_stage', con=engine, if_exists='append')

CPU times: total: 31.2 ms
Wall time: 631 ms

82

# Transformation

In [20]:
query = """
SELECT * FROM oldest_character;;
"""

pd.read_sql(query, con=engine)

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,films,species,vehicles,starships,created,edited,url
0,Yoda,66,17,white,green,brown,896,male,https://swapi.dev/api/planets/28/,"{https://swapi.dev/api/films/2/,https://swapi....",{https://swapi.dev/api/species/6/},{},{},2014-12-15T12:26:01.042000Z,2014-12-20T21:17:50.345000Z,https://swapi.dev/api/people/20/

# Incremental Load

In [ ]:
#Filter with created date
filt = (df['created'] == '2014-12-09')
df2 = df[filt]
df2

#Remove Index
  #df = df.style.hide_index()